body{
    background-color: rgb(163, 213, 213);
    font-family: Helvetica;
}

header{
    font-family: Verdana;
    color:rgb(35, 0, 0);
    text-align: center;
    background-color: rgba(0, 181, 241, 0.308);
}

.subrayado{
    text-decoration: underline;
}

hr{
    border-color: black;
    height: 2px;
}

p{
    color:rgb(0, 35, 35)
}
table{
    text-align: center;
    border-width: 2px;
    border-color: black;
}
thead{
    background-color: rgba(49, 222, 222, 0.507);
}


#ferrari{
    background-color:#DC0100;
    color: #FFFAEF;
}

#bar{
    background-color:#FFFFFF;
    color:#D12E35;
}

#renault{
    background-color:#0190FE;
    color:#FEF500;
}

#williams{
    background-color:#001B57;
    color:#E2F4F9;
}

#mclaren{
    background-color:#BBB6BA;
    color:#000A2F;
}

#sauber{
    background-color:#01007C;
    color:#009999;
}

#redbull{
    background-color:#272939;
    color:#D0E0DC;
}

#toyota{
    background-color:#A90A33;
    color:#D9E5DE;
}

#jordan{
    background-color:#FEE100;
    color:#010100;
}

#minardi{
    background-color:#131215;
    color:#E72A37;
}

#pilotos{
    text-align: justify;
}

a{
    font-family: Arial;
}

footer{
    text-align: center;
}

#hora{
    background-color: rgba(49, 222, 222, 0.507);
}

#abierto{
    background-color: rgb(82, 252, 82);
    color: rgb(82, 252, 82);;
}
#cerrado{
    background-color: rgb(237, 89, 89);
    color: rgb(237, 89, 89);
}